<div id="myApp">
  <h1> 表单控件绑定</h1>
  <input type="text" v-model="message" placeholder="come on baby">
  <p>Message is: {{ message }} </p>
</div>

<script>
  var myApp = new Vue({
    el: '#myApp',
    data: {
      message: "I love mary"
    },
    methods: {
      
    }
  })
</script>