<div id="myApp">
  <div :class="myClass">red book</div>
  <button @click="btnClick">change class</button>
</div>

<script>
  var myApp = new Vue({
    el: '#myApp',
    data: {
      myClass: {
        active: true,
        big: true,
      },
    },
    methods: {
      btnClick: function(){
        this.myClass.big = !this.myClass.big;
        this.myClass.active = !this.myClass.active;
      },
    },
  });
</script>