
<div id="myApp">
  <p>Games: {{ mygame }} </p>
  <button v-on:click="btnClick('bbb')"> my world </button>
  <button v-on:click="btnClick('dragon')"> dragon </button>
  <button v-on:click="btnClick('legend')"> legend </button>
  <button @click="btnClick('war')"> war </button>
</div>

<script>
  
  var myApp = new Vue({
    el: '#myApp',
    data: {
      mygame: 'mary'
    },
    methods: {
      btnClick: function(pname){
        this.mygame = pname;
      },
    },
    
  });
</script>